@using Krompaco.RecordCollector.Content.Models
@using Markdig
@model SinglePageViewModel

@section head {
    <link rel="canonical" href="@Model.ContentProperties?.SiteUrl.TrimEnd('/')@(Model.CurrentPage?.RelativeUrl)" />
}

@Html.Raw(Model.CurrentPage?.Content)

@*<div>
    <div style="filter: blur(1px);"></div>
    <div style="backdrop-filter: blur(5px);	min-height: 50px;	max-height: 100vh;">
       
    </div>
</div>
*@
@*@Html.Raw(Markdown.ToHtml(Model.CurrentPage?.Content ?? string.Empty, Model.MarkdownPipeline))
@await Html.PartialAsync("SingleData", Model.CurrentPage, new ViewDataDictionary(ViewData) { { "FrontendSetup", Model.ContentProperties?.FrontendSetup ?? string.Empty } })
*@
