@using Krompaco.RecordCollector.Content.Models
@using Markdig
@model SinglePageViewModel

@section head {
    <link rel="canonical" href="@Model.ContentProperties?.SiteUrl.TrimEnd('/')@(Model.CurrentPage?.RelativeUrl)" />
}

<div>
    <div class="background"></div>
    <div class="foreground">
        <p>@Html.Raw(Model.CurrentPage?.Content)</p>

    </div>
</div>


@*@Html.Raw(Markdown.ToHtml(Model.CurrentPage?.Content ?? string.Empty, Model.MarkdownPipeline))
@await Html.PartialAsync("SingleData", Model.CurrentPage, new ViewDataDictionary(ViewData) { { "FrontendSetup", Model.ContentProperties?.FrontendSetup ?? string.Empty } })
*@
